<div class="container"><!-- Container Start-->
  <div class="row">
    <div class="col-md-12 login_header">
    </div>
  </div>


 <div class="row">
   <div class="col-md-3 icon_email">
      <i class="fa fa-envelope"></i>    
   </div>

   <div class="col-md-6 email_form">
      <div class="form-group ">
        <input  type="text" [(ngModel)]="email"  class="form-control email_" placeholder="Email"  required>
      </div>
   </div>
   <div class="col-md-3"></div>


   <div class="col-md-3 icon_pass">
      <i class="fa fa-lock"></i>    
   </div>
   

<div class="col-md-6 pass_form">
    <div class="form-group">
      <input type="password" [(ngModel)]="password" class="form-control pass_" placeholder="Password"  required>
    </div>
 </div>
 <div class="col-md-3"></div>
</div>


<div class="row footer_row"></div>
<div class="row footer">
  <div class="col-md-12 login_button">
    <button (click)="mybutton()"  type="submit"  class="btn btn-default button">LOGIN</button>
  </div>
</div>

<div class="row bottom_foot">
  <div class="col-md-12 bottom_foot_content">No accout yet ? <button (click)="signupPage()"  class="ben btn-link signup"> Create one</button>
  </div>
</div>
</div> <!-- Container Close-->